.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form label {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #662C73;
    margin-bottom: 20px;
}

.form textarea {
    height: 100px;
}

.form button {
    background-color: #8D4B9B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.form button:hover {
    background-color: #4F1C70;
}