/* Table */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #000;

}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2;
    color: #000;
    border-radius: 10px;
    border-color: #4F1C70;
    margin: 20px;
    overflow: hidden;
    font-size: large;
}

.table th, .table td {
    border: 1px solid #4F1C70;
    padding: 15px;
    padding-right: 100px;
    text-align: center;
    border-radius: 10px;
}

.table th {
    background-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table td:last-child {
    text-align: right;
}

/* Dialog */
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dialog header h2 {
    margin: 0;
}

.dialog header button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.dialog body {
    margin-bottom: 20px;
}

.dialog body label {
    display: block;
    margin-bottom: 5px;
}

.dialog body input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.dialog footer {
    display: flex;
    justify-content: flex-end;
}

.dialog footer button {
    background-color: #6D2480;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.show-inventory-btn {
    background-color: #8D4B9B; /* Green background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: medium;
}

.show-inventory-btn:hover {
    background-color: #4F1C70; /* Slightly darker green on hover */
}

