.workout-dashboard{
    display:flex;
    gap: 2px;
}
.create-content{
    background: #fff;
    flex: 1;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    background-color: #EFEAF2;
    /*background-color: black;*/
    color: white;
    flex-wrap: wrap;
    overflow: auto;
    min-height: 100%;    
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1;
    height: 100%;
    margin-top: 20px;
}
.workoutcontent{
    width: 100%;
    height: 1px;
}